<div class="row">
  <div class="mx-auto input-box col-sm-12 col-md-10 col-lg-18">
    <div class="card mb-3">
      <img class="card-img-top" src="https://www.placecage.com/g/300/100" alt="Card image cap">
      
      <form action="/msgr/profile" method="post">
        <div class="card-body">
            <h5 class="card-title">Username</h5>
            <div class="form-group row">
                <div class="col-sm-10">
                <input type="string" class="form-control" name="edit_username" id="edit_username" value="<%= @logged_in_user.username %>">
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Display name</h5>
            <div class="form-group row">
                <div class="col-sm-10">
                <input type="string" class="form-control" name="edit_displayname" id="edit_displayname" value="<%= @logged_in_user.displayname %>">
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Age</h5>
            <div class="form-group row">
                <div class="col-sm-10">
                <input type="integer" class="form-control" name="edit_age" id="edit_age" value="<%= @logged_in_user.age %>">
                </div>
            </div>
        </div>
        <a href="/msgr/profile/edit">
            <button type="submit" class="btn btn-outline-success">Save</button>
        </a>
      </form>

      <div class="card-body">
      <p class="card-text"><small class="text-muted">Last updated at <%= @logged_in_user.created_at %></small></p>
      <p class="card-text"><small class="text-muted">Created at <%= @logged_in_user.created_at %></p>
      </div>
    </div>
  </div>
</div>